---
import Layout from '../layouts/Layout.astro';
import {PhoneOutgoingIcon, EnvelopeIcon, ListIcon, XIcon} from '@phosphor-icons/react';

// Import all sections
const heroContent = await import('../content/sections/hero.md');
const aboutContent = await import('../content/sections/about.md');
const parallaxContent = await import ('../content/sections/parallax.md');

const hero = heroContent.frontmatter;
const about = aboutContent.frontmatter;
const parallax = parallaxContent.frontmatter;

const footerContent = await import('../content/sections/footer.md');
const contactContent = await import('../content/sections/contact.md');
const navContent = await import('../content/navigation/main.md');

const footer = footerContent.frontmatter;
const contact = contactContent.frontmatter;
const navigation = navContent.frontmatter;
---

<Layout title={hero.title}>
<!-- Navigation -->
    <nav class="main-nav">
      <div class="nav-container">
        <a href="/#hero" class="logo-nav">
          <img src={navigation.logo} />
        </a>

        <!-- Hamburger button -->
        <button class="nav-toggle" aria-label="Toggle navigation">
          <span class="icon icon-menu"><ListIcon  size={32} /></span>
          <span class="icon icon-close"><XIcon size={32} /></span>
        </button>

        <ul class="nav-links">
          {navigation.nav_items.map(item => (
            <li><a href={item.href}>{item.label}</a></li>
          ))}
        </ul>
      </div>
    </nav>
  <!-- Hero Section -->
  <section id="hero" class="hero-section section reveal contrain"
	>
		<h1>{hero.title}</h1>
		<div class="flex-section-center">
			<div class="text-center">
				<h2>{hero.description}</h2>
				<ul class="desc-list">
					{hero.service_items.map(item => (
						<li>{item}</li>
					))}
				</ul>
				<a
					class="cta-button"
					href=/#contact
				>
					{hero.ctaText}
				</a>
			</div>
			<img class="desc-image" src={hero.img} />
		</div>
  </section>

	<section id="about" class="reveal contrain">
		<!-- About Section -->
		<section class="body-section about">
			<div class="about-title">
				<h2>{about.title}</h2>
			</div>
			<div class="flex-section-center">
				<div class="about-text">
						<aboutContent.Content />
				</div>
				<img class="about-image" src={about.image} />
			</div>
		</section>
	</section>

	<!-- Parallax and Services Section -->
	<section  id="services" class="parallax-section"
		style={parallax.image ? `background-image: url(${parallax.image})`  : ''}
	>
		<div class="parallax-content reveal">
			<div>
				<h2>{parallax.header}</h2>
				<ul class="desc-list services">
					{hero.service_items.map(item => (
						<li><strong>{item}</strong></li>
					))}
				</ul>
				<p>{parallax.project_overview}</p>
				<ul class="desc-list">
					{parallax.service_area.map(item => (
						<li>{item}</li>
					))}
				</ul>
				<a
					class="cta-button"
					href="/#contact"
				>
					{parallax.ctaText}
				</a>
			</div>
		</div>
	</section>

</Layout>

 <!-- Contact Section -->
    <section id="contact" class="contact-section section reveal contrain">
      <img src={contact.logo} />
      <p id="contact-text">{contact.textSection}</p>

      <div class="contact-content">
        <div>
          <a href={`tel:${contact.phone}`}>
            <PhoneOutgoingIcon size={32} />
            {contact.phoneString}
          </a>
        </div>
        <div>
          <a href={`mailto:${contact.email}`}>
            <EnvelopeIcon size={32} />
            {contact.email}
          </a>
        </div>
      </div>
    </section>
  <!-- Footer Section -->
    <section id="footer" class="footer-section">
      <p>{footer.copyright}</p>
      <p>{footer.owner} <a href={footer.ownerLink} target="_blank">{footer.ownerSite}</a></p>
    </section>